<!--The content below is only a placeholder and can be replaced.-->
<div class="issue" *ngIf="issue">
    <h1>{{ issue.title }} <span class="issue-number">#{{ issue.number }}</span></h1>
    <img class="avatar" [src]="issue.user.avatar_url" />
    <div class="comment">
      <div class="author">{{issue.user.login}}</div>
      <div class="text">
          <markdown [data]="issue.body"></markdown>
      </div>
    </div>

    <div *ngFor="let comment of comments | async">
        <img class="avatar" [src]="comment.user.avatar_url" />
        <div class="comment">
          <div class="author">{{comment.user.login}}</div>
          <div class="text">
              <markdown [data]="comment.body"></markdown>
          </div>
        </div>
    </div>
</div>
<div *ngIf="loadingMessage">
  {{ loadingMessage }}
</div>

